*{box-sizing: border-box; font-family: 'Kanit', sans-serif;
}
body{background-color:rgb(248, 218, 182);}
#header{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 96%;
    background-color: brown;
    color: white;
    height: 50px;
    align-items: center;
    font-size: 20px;
    border: 2px brown;
    border-radius: 8px;
    margin: 10px 25px 10px 25px;
}
nav{
    width: 100%;
    height: 520px;
}
.fotocv{
    background-position: left;
    background-color: white;
    width: 216px;
    height: 288px;
    float: left;
    margin:5px 10px 5px 5px;
    border: 8px solid brown;
    border-radius: 5px;
}
#nombre{
    align-items: center;
    font-size: 40px;
    margin-left: 0px;
    display: flex;
}
#datos{
    margin-left: 5px;
    font-size: 20px;
    margin-bottom: 20px;
}
h3{
    margin-bottom: 2px;
    border-bottom: solid brown;
    width: 180px;
}
h2{
    text-align: center;
    margin-bottom: 4px;
}
h4{
    margin-bottom: 4px;
    margin-top: 6px;
}
#div1{
    display: flex;
    justify-content: center;
}
section{
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    width:30%;
    padding: 0px 20px 0px 20px;
}
#datosacademicos{
    background: rgb(133, 133, 209);
}
#experiencia{
    background-color: brown;
}
#habilidades{
    background-color: rgb(198, 100, 237);
}
#icono{
    margin-right: 5px;
}
#boton{
    cursor: pointer;
    width: 30%;
}
#divboton{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}
#idiomas{
    background-color: coral;
}
#programas{
    background-color: darkcyan;
}
#expectativalaboral{
    background-color: hotpink;
}
#boton4{
    background-color: coral;
}
#boton5{
    background-color: darkcyan;
}
#boton6{
    background-color: hotpink;
}